.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(217, 54%, 11%);
  color: white;
}
p,
span,
.daysleft {
  color: hsl(215, 51%, 70%);
}

h2:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
.eth {
  color: hsl(178, 100%, 50%);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  height: 90vh;
}

.content {
  background-color: hsl(216, 50%, 16%);
  width: 18rem;
  padding: 15px;
  border-radius: 10px;
}
.imagebox {
  position: relative;
  border-radius: 10px;
}
.equimg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.hoverimage {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  border-radius: 10px;
  background: hsla(178, 100%, 50%, 0.487);
}
.viewimage {
  margin: 40%;
}

.imagebox:hover .hoverimage {
  opacity: 1;
  transition: 2s;
  cursor: pointer;
  margin-bottom: none;
}

.middle {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  font-size: 1em;
}
.first {
  display: flex;
  flex-direction: column;
}
hr {
  background-color: hsl(215, 32%, 27%);
  border: none;
  height: 1px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.avatar {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
}
.avatartext {
  margin: auto auto auto 10px;
  color: white;
}
.avatartext:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
.miniicon {
  align-items: center;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon span {
  margin-left: 5px;
}
